<ion-view title='' cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon button-clear icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button  class="button button-icon button-clear icon ion-search" ng-click="onNavigateToSearch()"></button>
    </ion-nav-buttons>
  <ion-nav-title class="title title-center">
  <p class="assertive">Pick</p>
  </ion-nav-title>
  <ion-content padding="false" has-header='false' class=" assertive-bg sin-borde">
    <div class="padding center" ng-if="showErrorView()"
    ng-include="'main/templates/error-view.html'"></div>
    <div class="row CategoryList">
      <div ng-controller="scanController" class="col item-thumbnail-categories">
        <div class=" animated fadeIn"ng-click="scanBarcode();"  >
          <i class="ion-qr-scanner font-iconos"></i>
          <div class="no-margin">
            Registrar compra
          </div>
        </div>
      </div>

      <div  ng-if="showCategories()" class=" col item-thumbnail-categories in done in"   ng-repeat="category in categories">
        <a class='text-decoration-n white' ng-href="#/app/places/{{category.id}}/{{category.nombre}}/{{category.tipo}}">
          <div class=" animated fadeIn" >
            <i class="{{category.class}} font-iconos"></i>
            <div class="no-margin">
              {{ category.nombre }}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <img ng-src="main/assets/images/ridebg.png" style="bottom:0px;width: 1000px;">
    </div>

  </ion-content>

</ion-view>
