<ion-view class="assertive-bg profile">
  <ion-nav-title>{{ "profileTitle" | translate }}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon"
    ng-click="openProfileModal()">
      <i class="icon ion-edit"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list text-center">
      <img class="img-profile" width="96" height="96"
      ng-click="onImageTapped()" actual-src="{{ user.picture.url }}"
      ng-src="main/assets/images/avatar.png"><br>
      <button class="button button-small button-stable"
        ng-click="onImageTapped()">
        {{ "changePhotoButtonText" | translate }}
      </button>
    </div>
      <div class="list list-inset">
      <div class="item item-divider">
        Informacion Personal
      </div>
      <div class="item" ng-hide="user.name == '' || user.name.length == 0">
        <h2>Usuario:</h2>
        <p class="sin-espacio">{{user.name}}</p>
      </div>
      <div class="item" ng-hide="user.mail == '' || user.mail.length == 0">
        <h2>Correo:</h2>
        <p class="sin-espacio">{{user.mail}}</p>
      </div>
      <div class="item" ng-hide="user.field_nombres == '' || user.field_nombres.length == 0">
        <h2>Nombres:</h2>
        <p class="sin-espacio">{{user.field_nombres}}</p>
      </div>
      <div class="item" ng-hide="user.field_apellidos == '' || user.field_apellidos.length == 0">
        <h2>Apellidos:</h2>
        <p class="sin-espacio">{{user.field_apellidos}}</p>
      </div>
      <div class="item" ng-hide="user.field_fecha_nacimiento == '' || user.field_fecha_nacimiento.length == 0">
        <h2>Nacimiento:</h2>
        <p class="sin-espacio"><i class="icon ion-calendar"></i> {{user.field_fecha_nacimiento}} años</p>
      </div>
      <div class="item" ng-hide="user.field_genero == '' || user.field_genero.length == 0">
        <h2>Sexo:</h2>
        <p class="sin-espacio"><i ng-class="user.field_genero === 'Hombre' ? 'icon ion-male' : 'icon ion-female'"></i> {{user.field_genero}}</p>
      </div>

      <div class="padding">
        <button class="button button-assertive button-clear button-light"
          ng-click="onDeleteAccount()">
          {{ "deleteAccountText" | translate }}
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
