<ion-view >
  <ion-nav-bar   >
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title >{{ "challengesModalTitle" | translate }}</ion-nav-title>

  <ion-content >
    <div class="padding center" ng-if="showErrorView()"
    ng-include="'main/templates/error-view.html'">
  </div>
  <div class="padding center" ng-if="showEmptyView()"
  ng-include="'main/templates/empty-favorites.html'">
</div>

<ion-refresher
pulling-text="{{ 'loadingText' | translate }}"
on-refresh="onReload()"></ion-refresher>
<i class="icon ion-trophy trofeo-bg"></i>
<ion-list>
  <ion-item ng-repeat="r in retos  " class="item-icon-left item-button-right " ng-class="r.storeNumber  ? 'retos-block' : ''">
    <i class="icon ion-trophy positive" style=" text-shadow: 2px 2px 2px rgba(228, 170, 22, 0.75);"></i>
    <p>{{r.titulo}}</p>
    <div class="buttons">
      <button class="button button-energized text-shadow " ng-click="openRetosModal(r);" ng-disabled="r.storeNumber">
        Ver Reto
      </button>
    </div>
  </ion-item>
</ion-list>

</ion-content>
</ion-view>
