<ion-modal-view class="start-modal" style="    margin: 20px;
    width: 90%;
    border-radius: 25px;
    border: 6px solid #ccc;
    min-height: 400px;">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeStarModal()">
        {{ "closeText" | translate }}
      </button>
    </div>
    <h1 class="title">{{ "starModalTitle" | translate }}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <rating ng-model="review.rating" max="maxRating" class="energized text-center" style='font-size:30px' ></rating>
      </ion-item>
      <ion-item>
        <textarea rows="8" cols="40" placeholder="{{ 'commentReviewInputText' | translate }}" ng-model="review.comment"></textarea>
      </ion-item>
    </ion-list>
    <div class="padding">
      <button type="button" class="button button-block button-energized"
      ng-click="onSubmitStarred()" ng-disabled="isSubmittingStar()">
        <span ng-if="isSubmittingStar()">
          <ion-spinner class="spinner-light"></ion-spinner>
          {{ "loadingText" | translate }}
        </span>
        <span ng-if="!isSubmittingStar()">{{ "starReviewButtonText" | translate }}</span>
      </button>
    </div>
  </ion-content>
</ion-modal-view>
