<ion-view  >
  <ion-tabs class="tabs-default  tabs-icon-top" >
    <ion-tab title="Inicio" icon="ion-home" class="assertive-i" href="#/app/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Registrar Compra" icon="ion-qr-scanner"  class="assertive-i" href="#/app/scan">
      <ion-nav-view name="tab-compra"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mis retos" icon="ion-trophy"  class="assertive-i" href="#/app/my-retos">
      <ion-nav-view name="tab-retos"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
